/* This is the style sheet for CSS*/
@media only screen and (max-width: 800px){
    body{
        background-color: #ffffff !important;
        line-height: 1.3;
        color:#000;
    }
    h1{
        font-size:36pt;
    }
    h2, h3, h4 {
font-size: 18pt;
margin-top: 30px;
}
img{
    max-width: 100%;
}
input{
    max-width: 75%;
    height: 32px !important;
    text-align: center;
}
button{
    max-width: 75%;
    height: 48px !important;
    background-color: forestgreen;
    color: white !important;
    border: none !important;
    padding: 10px 18px !important;
    margin:8px 0px !important;
}
@page{
    margin:0.5cm !important;
}
table{
    page-break-inside: avoid;
}
h1,h2,h3,h4,h5,h6{
    page-break-after:avoid; 
     page-break-inside:avoid;
}
img{
    page-break-inside: avoid;
     page-break-after:avoid;
}
ul, ol, dl  { page-break-before:avoid; }

iframe,embed,video,audio,object{
    display: none;
    width:0 !important;
    height: 0 !important;    
    overflow: hidden !important;
    line-height: 0pt !important;
}

    a{
         text-decoration: underline;
        text-align: left;
        font-weight: bold;
        page-break-inside: avoid;
    }

    nav{
        display: none;
    }
}
